@{
    ViewBag.Title = "Home Page";
}
<header>
    <h1> Gra w pamięć </h1>
    <p>Spróbuj osiągnąć jak najmniejszy wynik sprawdzeń par kart w ciągu paru poziomów gry!</p>
</header>

<main>
    <article>

        <div class="board">
            <div id="contentUP">
            <button class="buttonstart wow swing" onclick="level1()"><span>Start!</span></button>
            @*<div class="card" id="c0"></div>
        <div class="card" id="c1"></div>
        <div class="clear: both"></div>
        <div class="card" id="c2"></div>
        <div class="card" id="c3"></div>*@

            @*<div class="clear: both"></div>*@

            @*<div class="card" id="c4"></div>
        <div class="card" id="c5"></div>
        <div class="card" id="c6"></div>
        <div class="card" id="c7"></div>*@

            @*<div class="card" id="c8"></div>
        <div class="card" id="c9"></div>
        <div class="card" id="c10"></div>
        <div class="card" id="c11"></div>

        <div class="card" id="c12"></div>
        <div class="card" id="c13"></div>
        <div class="card" id="c14"></div>
        <div class="card" id="c15"></div>

        <div class="card" id="c13"></div>
        <div class="card" id="c14"></div>
        <div class="card" id="c15"></div>
        <div class="card" id="c16"></div>

        <div class="card" id="c13"></div>
        <div class="card" id="c14"></div>
        <div class="card" id="c15"></div>
        <div class="card" id="c16"></div>*@
        </div>
            <div id ="score" class="score">Sprawdzonych par: 0! </div>
            <p>Szukaj i wyznaczaj poprawne pary tych samych kart!</p>
        </div>

    </article>
</main>

@*<script src="jquery-3.3.1.min.js"></script>
<script src="memory.js"></script>*@



@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@