@{
    ViewBag.Title = "Graw w pamięć";
}



<div id="container">
    <header>
        <h1> Gra w pamięć </h1>
        <p>Spróbuj osiągnąć jak najmniejszy wynik sprawdzeń par kart w ciągu paru poziomów gry!</p>
    </header>

    <main>
        <article>

                <div class="board">
                    <div id="contentUP">
                        <button class="buttonstart wow swing" onclick="level1()"><span>Start!</span></button>
                    </div>
                    <div id="score" class="score">Sprawdzonych par: 0! </div>
                    <p>Szukaj i wyznaczaj poprawne pary tych samych kart!</p>
                </div>
         

                <div id="downrecords">
                    <hr>
                    <div id="Top5" class="col-md-12">
                        <h3>Top 5 - Najmniej pomyłek:</h3>

                        <table id="tblTop5" class="table table-bordered table-striped table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th class="recordstop5">Il. prób</th>
                                    <th class="recordstop5">Data</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                  
                    <div id="LastGame" class="col-md-12">
                        @*<input class="btn btn-primary" name="submitButton" id="btnSave" onclick="Save()" value="Save" type="button">*@
                        <h3>Ostatnie przejścia gry:</h3>
                        <table id="tblLastGame" class="table table-bordered table-striped table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th class="recordsLastGame">Nr. gry</th>
                                    <th class="recordsLastGame">Il. prób</th>
                                    <th class="recordsLastGame">Data</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

        </article>
    </main>
</div>
@section Scripts
    {
    <script type="text/javascript">
        $(function () {
            $("#tblTop5 tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTop5")',
                dataType: 'json',
                data: { id: '' },
                success: function (data) {
                    var items = '';
                    $.each(data, function (i, item) {
                        var rows = "<tr>"
                            + "<td class='recordstop5'>" + item.Number + "</td>"

                            + "<td class='recordstop5'>" + item.Date + "</td>"

                            + "</tr>";
                        $('#tblTop5 tbody').append(rows);
                    });
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });

            $("#tblLastGame tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLastGame")',
                dataType: 'json',
                data: { id: '' },
                success: function (data) {
                    var items = '';
                    $.each(data, function (i, item) {
                        var rows = "<tr>"
                            + "<td class='recordsLastGame'>" + item.ResultsID + "</td>"
                            + "<td class='recordstop5'>" + item.Number + "</td>"
                            + "<td class='recordsLastGame'>" + item.Date + "</td>"
                            + "</tr>";
                        $('#tblLastGame tbody').append(rows);
                    });
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
            return false;
        });
    </script>
}
