
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup>
    <h1>Błąd.</h1>
    <div class="text-center">
    <h2>Nie ma takiej strony [...]</h2>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">Wróć na główną</button>
    </div>
</hgroup>

